section {
  max-height: 100%;
  overflow-y: scroll;
}

section ul.container {
  text-align: justify;
  padding: 0;
  margin: 0;
}

section ul.container li {
  list-style: none;
  padding: 1.2rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

section ul.container li header {
  width: 100%;
  padding: 0;
  border: none;
  text-align: start;
}

section ul.container li img {
  display: block;
  width: 80%;
  cursor: pointer;
}

aside div {
  display: none;
}
aside.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(156, 155, 155, 0.11);
}

aside.visible div.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  gap: 1.2rem;
  margin: 0 10%;
  width: 80%;
  background-color: rgba(46, 46, 46, 0.801);
  border-radius: 15px;
}
aside.visible div button {
  margin: 0 25px;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: none;
}

@media (min-width: 800px) {
  section ul.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
  }
  section ul.container li {
    width: 45%;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  section ul.container li:nth-child(odd) {
    background-color: rgb(228, 228, 228);
  }
  section ul.container li header {
    width: 45vw;
    border: none;
    text-align: start;
  }
}
